body::-webkit-scrollbar {
  display: none;
}

.container {
  height: inherit;
  width: 351px;
  margin: 0 auto;
  position: relative;
}

.tit {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

header {
  height: 70px;
}

footer {
  background: #272727;
  height: 160px;
  padding-bottom: 50px;
}

#topMenu {
  width: 100%;
  height: 70px;
  background: #272727;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

#topMenu .category-bar {
  float: left;
  width: 25px;
  margin-top: 25px;
}

#topMenu .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#topMenu .logo a {
  display: block;
  width: 104px;
  height: 25px;
  background: url(../img/logo.png) no-repeat;
}

#topMenu .right {
  float: right;
  padding-top: 22px;
}

#topMenu .right .search-btn, #topMenu .right .basket-btn, #topMenu .right .back-btn {
  display: inline-block;
}

#topMenu .right .basket-btn {
  margin-left: 10px;
}

#bottomMenu {
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  padding: 5px 0;
  -webkit-box-shadow: 0 1px 4px;
          box-shadow: 0 1px 4px;
}

#bottomMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 39px;
}

#bottomMenu .menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bottomMenu .menu li a span {
  display: block;
  height: 14px;
  position: absolute;
  top: 30px;
  font-size: 10px;
  color: #aaa;
}

#bottomMenu .menu li a.on span {
  color: #B53572;
}

#bottomMenu .menu li a.on img {
  content: url(../img/home_on.png);
}

#bottomMenu .menu li a.on span {
  color: #B53572;
}

#bottomMenu .menu li a.on img {
  content: url(../img/cate_on.png);
}

#bottomMenu .menu li a.on span {
  color: #B53572;
}

#bottomMenu .menu li a.on img {
  content: url(../img/basket_on.png);
}

#bottomMenu .menu li a.on span {
  color: #B53572;
}

#bottomMenu .menu li a.on img {
  content: url(../img/favorite_on.png);
}

#bottomMenu .menu li a.on span {
  color: #B53572;
}

#bottomMenu .menu li a.on img {
  content: url(../img/mypage_on.png);
}

.banner {
  width: 100%;
  height: 405px;
  background: url(../img/banner.png) no-repeat center;
}

.best-seller {
  margin-top: 30px;
}

.best-seller .product {
  margin-top: 20px;
}

.best-seller .product .swiper-container {
  position: relative;
  overflow: hidden;
}

.best-seller .product .swiper-slide {
  width: 120px;
  height: 153px;
}

.best-seller .product .swiper-slide .swiper1 {
  background: url(../img/swiper1.png) no-repeat;
}

.best-seller .product .swiper-slide .swiper2 {
  background: url(../img/swiper2.png) no-repeat;
}

.best-seller .product .swiper-slide .swiper3 {
  background: url(../img/swiper3.png) no-repeat;
}

.best-seller .product .swiper-slide .swiper4 {
  background: url(../img/swiper4.png) no-repeat;
}

.best-seller .product .swiper-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 153px;
}

.best-seller .product .swiper-slide span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.new-arrivals {
  margin-top: 50px;
  height: 220px;
}

.new-arrivals .tab-menu {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.new-arrivals .tab-menu .tabs {
  overflow: hidden;
  padding-bottom: 24px;
}

.new-arrivals .tab-menu .tabs li {
  display: inline-block;
}

.new-arrivals .tab-menu .tabs li:not(:last-child) {
  margin-right: 20px;
}

.new-arrivals .tab-menu .tabs li a {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  color: #aaa;
  position: relative;
}

.new-arrivals .tab-menu .tabs li a.on {
  color: #000;
  font-weight: 700;
}

.new-arrivals .tab-menu .tabs li a.on::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
}

.new-arrivals .tab-menu .product ul {
  position: absolute;
  top: 70px;
  left: 0;
  overflow: hidden;
}

.new-arrivals .tab-menu .product ul li {
  float: left;
  width: 110px;
}

.new-arrivals .tab-menu .product ul li:not(:last-child) {
  margin-right: 9px;
}

.new-arrivals .tab-menu .product.bag li:nth-child(1) a {
  background: url(../img/tab-bag1.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.bag li:nth-child(1) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.bag li:nth-child(2) a {
  background: url(../img/tab-bag2.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.bag li:nth-child(2) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.bag li:nth-child(3) a {
  background: url(../img/tab-bag3.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.bag li:nth-child(3) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.clothes li:nth-child(1) a {
  background: url(../img/tab-clothes1.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.clothes li:nth-child(1) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.clothes li:nth-child(2) a {
  background: url(../img/tab-clothes2.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.clothes li:nth-child(2) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.clothes li:nth-child(3) a {
  background: url(../img/tab-clothes3.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.clothes li:nth-child(3) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.shoes li:nth-child(1) a {
  background: url(../img/tab-shoes1.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.shoes li:nth-child(1) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.shoes li:nth-child(2) a {
  background: url(../img/tab-shoes2.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.shoes li:nth-child(2) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.new-arrivals .tab-menu .product.shoes li:nth-child(3) a {
  background: url(../img/tab-shoes3.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.new-arrivals .tab-menu .product.shoes li:nth-child(3) a span {
  display: block;
  font-size: 10px;
  letter-spacing: -.3px;
  position: absolute;
  bottom: 0;
}

.brand {
  margin: 50px 0 40px 0;
}

.brand ul {
  padding-top: 50px;
  overflow: hidden;
}

.brand ul li {
  float: left;
  width: 49%;
}

.brand ul li:last-child {
  float: right;
}

.brand ul li a {
  display: block;
  text-align: center;
  font-size: 10px;
}

.foot-logo {
  display: block;
  width: 65px;
  margin: 0 auto;
  padding-top: 20px;
}

.company {
  margin-top: 10px;
  text-align: center;
}

.company p {
  color: #fff;
  font-size: 10px;
  padding-bottom: 8px;
}

.company ul {
  margin-top: 5px;
}

.company ul li {
  display: inline-block;
}

.company ul li a {
  color: #fff;
  font-size: 10px;
}

.company ul li a.bold {
  font-weight: bold;
}

.company .sns ul li {
  display: inline-block;
}

.company .sns ul li:not(:last-child) {
  margin-right: 15px;
}

.company .sns ul li a {
  display: block;
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  text-align: center;
  margin-top: 6px;
}
/*# sourceMappingURL=style.css.map */